button {
	background-color: var(--companycolor);
	cursor:pointer;
	color:#FFFFFF;
	font-family: var(--companyfont);
	font-size: 20px;
	font-weight:bold;
    min-width: 150px;
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    transition: background-color 0.2s;
}
button:hover {
    background-color: var(--brightcompanycolor);
}
button:active {
    background-color: var(--darkcompanycolor);
}